/* .press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
} */
.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}



/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e2f;
  color: #fff;
}

.app-container {
  display: flex;
  height: 100vh;
}

/* Sidebar Styles */
.sidebar {
  width: 15%;
  background-color: #1e1e2f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #C5198D;
  text-align: center;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-username {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sidebar-dropdown {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3c3c57;
  color: #fff;
}

/* Main Content Styles */
.main-content {
  flex: 1;
  padding: 40px;
}

.header-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

.header-subtitle {
  color: #C1EDCB;

  text-align: center;
  font-family: "Press Start 2P",monospace;
  font-size: var(--typography-size-lg, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--typography-line-height-md, 32px); /* 133.333% */
  letter-spacing: -0.5px;
}

/* Suggested Questions */

.suggested-questions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spacing between buttons */
  margin-bottom: 20px; /* Reduced bottom margin */
  padding: 20px; /* Reduced padding around the container */
  justify-content: center;
}

.question-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #1e1e2f;
  border: 1px solid #C1EDCB;
  color: #fff;
  cursor: pointer;
}

.question-button:hover {
  background-color: #4e4e73;
}

/* Input Section */
.input-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-box {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3c3c57;
  color: #fff;
}

.input-header-section {
color: #C1EDCB;

font-family: "Press Start 2P", monospace;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 124%; /* 22.32px */
margin-left: 40px;
}

.submit-button {
  color: #C1EDCB;
  font-family: "Press Start 2P";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
}

.submit-button:hover {
  background-color: #da63b2;
}